# =============================================================================
# exclude MAC OS X files
# =============================================================================
.DS_Store

# =============================================================================
# exclude output files
# =============================================================================
target/

# =============================================================================
# Eclipse project files
# =============================================================================
.classpath
.project
.settings
.springBeans

# =============================================================================
# exclude log files
# =============================================================================
log/*
d:*
c:*

# =============================================================================
# exclude temp files
# =============================================================================
temp/*

*.class
.gradle/
gradle/
bin/
/build/
